body, html {
    height: 100%;
  }
  
  /* The hero image */
  .hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.squarespace-cdn.com/content/v1/62bdc86f2c1ae2263bdd885e/1656604788832-AXKGFYRQC7EG9AUL4OL7/landing-full-topleft-01.jpg");
  
  /* Set a specific height */
  height: 100vh;
  width: auto;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }
  
  
  /*
  .nosotros{
  align-items: center;
  padding: 0.5rem;
  margin: 0px;
  }
  
  .nosotros img{
  width: 100%;
  max-width: 400px;
  height: auto;
  }
  
  
  @media screen and (max-width:1200px) {
  #features img{
    width: 50%;
    max-width: 100px;
    height: auto;
  } 
  }
  
  
  
  .nosotros-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 600px;
    padding: 15px;
  }
  */
  
  
  .programas img{
  width: 100%;
  max-width: 400px;
  height: auto;
  }
  
  .card {
  margin: 10px;
  padding: 16px;
  border-radius: 10px;
  border-color: #046716;
  box-shadow: 10px 8px 10px 5px gray;
  background-color: #d0ffdf;
  }
  
  
  .card-body{
  padding: 0.5rem;
  }
  
  
  .card img{
  height: 70px;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  background-position: cover;
  border-color: none;
  }
  
  
  
  .redes{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  }
  
  .noticias{
  background-color: #d0ffdf;
  }
  
  
  .noticias img{
  width: 100%;
  max-width: 400px;
  height: auto;
  }