{% extends 'layout.html' %}
{% load static %}
{% block content %}


<!-- Seccion de filtros y búsqueda -->
<form class="d-flex flex-wrap justify-content-center align-items-center my-3" method="get" action="{% url 'articulos:all_articles' %}">
    {% csrf_token %}
    <div class="input-group" style="max-width: 400px;"> <!-- Puedes ajustar el valor de max-width según tus necesidades -->
        <input name="q" class="form-control" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-success" type="submit">Buscar</button>
    </div>
    <div class="d-flex align-items-center">
        <!-- Filtro por Categoría -->
        <select name="category" class="form-select me-2">
            <option value="" selected>Categoría</option>    
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <!-- Filtro por Autor -->
        <select name="author" class="author form-select me-2">
            <option value="" selected>Autor</option>
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.username }}</option>
            {% endfor %}
        </select>
    </div>
</form>
<div class="d-flex justify-content-center mb-3">
    <div class="btn-group" role="group">
        <a class="btn btn-sm btn-secondary btn-rounded" href="{% url 'articulos:all_articles' %}?sort_by=asc">Más antiguos</a>
        <a class="btn btn-sm btn-secondary btn-rounded" href="{% url 'articulos:all_articles' %}?sort_by=desc">Más recientes</a>
        <a class="btn btn-sm btn-secondary btn-rounded" href="{% url 'articulos:all_articles' %}?sort_by=alpha_asc">A-Z</a>
        <a class="btn btn-sm btn-secondary btn-rounded" href="{% url 'articulos:all_articles' %}?sort_by=alpha_desc">Z-A</a>
    </div>
</div>

<!-- ############################################################################### -->







<div class="text-center">
    <h3 class="text-decoration-underline" class="font-monospace" ></h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for article in page %}
        <div class="col">
            <!-- Agregar un estilo de fondo a la tarjeta -->
            <div class="tarjeta-articulo  bg-secondary" >
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}" >
                <div class="tarjeta-articulo-body">
                    <h6 class=" ">{{ article.date_published|date:'M d Y' }}</h6>
                    <h5 class="">{{ article.title }}</h5>
                    {% if user.is_authenticated %}
                    <p>Author: {{ article.author.username }}</p>
                    {% endif %}
                    <h5 class="">{{ article.category }}</h5>
                    <p class="">{{ article.content|striptags|truncatechars:100 }}</p>
                    {% if user.is_authenticated %}
                        <div class="btn-group" role="group" >
                            <a href="{% url 'articulos:detail_article' article.id %}" class="boton-articulo btn btn-success">Leer</a>
                            {% if user.is_colaborador %}
                            <a href="{% url 'articulos:update_article' article.id %}" class="boton-articulo btn btn-warning ms-2">Editar</a>
                            <a href="{% url 'articulos:delete_article' article.id %}" class="boton-articulo btn btn-danger ms-2">Eliminar</a>
                            {% endif %}
                        </div>
                    {% else %}
                            <a href="{% url 'articulos:detail_article' article.id %}" class="boton-articulo btn-success">Leer</a>
                    {% endif %}    
<!-- Seccion del listado de articulos -->
<div class="center-content">
    <h3 class="fw-bold text-center">Listas de Artículos</h3>
    <div class="row g-4 justify-content-center"> <!-- Eliminamos row-cols-md-3 y agregamos justify-content-center -->
        {% for article in page %}
        <div class="col mb-3"> <!-- Agregamos mb-3 para separar las cartas -->
            <div class="card h-100 bg-dark text-white card-project" style="width: 18rem;">
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}" style="max-height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted text-center">{{ article.date_published|date:'M d Y' }}</h6>
                    <h2 class="fw-bold text-success fs-5 text-center">Título: {{ article.title }}</h2>
                    <p class="text-center">Escritor: <a href="{% url 'usuarios:author_detail' article.author.id %}" class="btn btn-outline-primary">{{ article.author.username }}</a></p>
                    <p class="text-white card-text text-center">{{ article.content|striptags|truncatechars:100 }}</p>
                    {% if user.is_authenticated %}
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="{% url 'articulos:detail_article' article.id %}" class="btn btn-success">Leer</a>
                        {% if user.is_colaborador %}
                        <a href="{% url 'articulos:update_article' article.id %}" class="btn btn-warning ms-2">Editar</a>
                        <a href="{% url 'articulos:delete_article' article.id %}" class="btn btn-danger ms-2">Eliminar</a>
                        {% endif %}
                    </div>
                    {% else %}
                    <a href="{% url 'articulos:detail_article' article.id %}" class="btn btn-success">Leer</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- ############################################################################### -->

<!-- Mostrar enlaces de paginación -->


 <!--<div class="container mt-4 articles-container">
     Contenedor para los artículos -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for article in articles %}
        <!-- Tarjeta de artículo -->
        <div class="col">
            <!-- Agregar un estilo de fondo a la tarjeta -->
            <div class="card h-100 bg-dark">
                <!-- Contenido de la tarjeta -->
                <!-- ... (resto del contenido de la tarjeta) ... 
            </div>
        </div>
        {% endfor %}
    </div>-->


    <!-- Mostrar enlaces de paginación -->
<div class="container mt-4 articles-container">
    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Anterior</a></li>
                {% endif %}

                <li class="page-item disabled"><span class="page-link">Página {{ page.number }} de {{ page.paginator.num_pages }}.</span></li>

                {% if page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">Última &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<!-- ############################################################################### -->

{% endblock %}




