{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- Mesaje de actualizacion de un articulo -->
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success alert-custom-success" role="alert" id="success-alert">
        <h4 class="alert-heading">¡Bien hecho!</h4>
        <p>{{ message }}</p>
        <hr>
        <p class="mb-0">¡Excelente trabajo!</p>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<script src="{% static 'js/timeMessageUpdateArt.js' %}"></script>
<!-- ############################################################ -->

<!-- Seccion de vista del contenido de un articulo -->
{% include 'Articulos/profile/articles/Art_view.html' %}
<!-- ############################################################ -->

<!-- Seccion de Botón de "like" | "Dislike" -->
{% include 'Articulos/profile/articles/Art_reacction.html' %}
<!-- ############################################################ -->

<!-- Seccion de comentar un articulo -->
{% include 'Articulos/profile/articles/Art_comment.html' %}
<!-- ############################################################ -->

{% endblock %} 
