{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 5rem;">
  <div class="row align-items-center">
    <!-- Image column -->
    <div class="col-md-6">
      <img src="{% static 'img/1.svg' %}" class="img-fluid rounded" alt="...">
    </div>
    <!-- Text column -->
    <div class="col-md-6">
      <p class="fw-bolder">Bienvenidxs al blog de la red de salud Ramon Carrillo</p>
      <div class="text-nowrap bd-highlight" style="width: 8rem;">
      </div>
      <p class="fw-lighter">
        En nombre de todo nuestro equipo, queremos darles una cálida bienvenida. Estamos emocionados de contar con cada uno de ustedes en esta comunidad dedicada al bienestar y la salud.
      </p>
      <a href="{% url 'usuarios:login_user' %}" type="button" class="btn btn-outline-info btn-lg">Iniciar sesión</a>
    </div>
  </div>
</div>


<hr style="height: 10px; background-color: #dc3545; border-radius: 1rem; margin: 3rem 0;">
<div class="container">
  <div class="row align-items-center">
    <!-- Text column -->
    <div class="col-md-6">
      <p class="fw-bolder">Registrate, para iniciar sesíon</p>
      <p class="fw-lighter">
        Como usuario registrado, vas a poder: publicar, comentar y dar like a nuestros articulos 
      </p>
    </div>
    <!-- Image column -->
    <div class="col-md-6">
      <img src="{% static 'img/5.svg' %}" class="img-fluid rounded float-right" alt="...">
    </div>
  </div>
</div>
<hr style="height: 10px; background-color: #dc3545; border-radius: 1rem; margin: 3rem 0;">





  <!-- Sección de las imágenes de los artículos -->
  {% comment %} <div class="row my-4 text-center">
    {% for article in articles %}
    <div class="col-md-4 p-4">
      <div class="card bg-dark text-white card-project">
        <img src="{{article.image.url }}" class="card-img-top" />
        <div class="card-body">
          <h2 class="fw-bold text-success fs-5">Título: {{ article.title }}</h2>
          <p>Escritor: <a href="{% url 'usuarios:author_detail' article.author.id %}" class="btn btn-outline-primary">{{ article.author.username }}</a></p>
          <p>{{ article.content|striptags |truncatechars:100 }}</p>
          {% if user.is_authenticated %}
          <!-- Mostrar enlaces para usuarios autenticados -->
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a href="{% url 'articulos:detail_article' article.id %}" class="btn btn-success">Seguir Leyendo</a>
            {% if user.is_colaborador %}
            <a href="{% url 'articulos:update_article' article.id %}" class="btn btn-warning ms-2">Editar</a>
            <a href="{% url 'articulos:delete_article' article.id %}" class="btn btn-danger ms-2">Eliminar</a>
            {% endif %}
          </div>
          {% else %}
          <!-- Mostrar enlace para usuarios no autenticados -->
          <a href="{% url 'articulos:detail_article' article.id %}" class="btn btn-success">Seguir Leyendo</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div> {% endcomment %}
  
  {% comment %} <div class="container">
    <div class="row">
      {% for article in articles %}
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fw-bold text-success">{{ article.title }}</h5>
                <p class="card-text">Escritor: <a href="{% url 'usuarios:author_detail' article.author.id %}" class="btn btn-outline-primary">{{ article.author.username }}</a></p>
                <p class="card-text">{{ article.content|striptags |truncatechars:100 }}</p>
                {% if user.is_authenticated %}
                <!-- Mostrar enlaces para usuarios autenticados -->
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <a href="{% url 'articulos:detail_article' article.id %}" class="btn btn-success">Seguir Leyendo</a>
                  {% if user.is_colaborador %}
                  <a href="{% url 'articulos:update_article' article.id %}" class="btn btn-warning ms-2">Editar</a>
                  <a href="{% url 'articulos:delete_article' article.id %}" class="btn btn-danger ms-2">Eliminar</a>
                  {% endif %}
                </div>
                {% else %}
                <!-- Mostrar enlace para usuarios no autenticados -->
                <a href="{% url 'articulos:detail_article' article.id %}" class="btn btn-success">Seguir Leyendo</a>
                {% endif %}
              </div>
            </div>
            <div class="col-md-4">
              <img src="{{article.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> {% endcomment %}
  
  <h3 class="text-decoration-underline text-center" class="font-monospace" >Articulos recientes </h3>
  <div class="row my-4 text-center">
    {% for article in articles %}
    <div class="col-md-4 p-4">
      <div class="tarjeta-articulo bg-secondary" >
        <img src="{{article.image.url }}" class="card-img-top" />
        <div class="tarjeta-articulo-body">
          <h2 class="fs-5">{{ article.title }}</h2>
          <p>Autor: <a href="{% url 'usuarios:author_detail' article.author.id %}" class="btn btn-outline-primary">{{ article.author.username }}</a></p>
          <p>{{ article.content|striptags |truncatechars:100 }}</p>
          {% if user.is_authenticated %}
          <!-- Mostrar enlaces para usuarios autenticados -->
          <div class="btn-group" role="group" >
            <a href="{% url 'articulos:detail_article' article.id %}" class="boton-articulo btn btn-success">Leer</a>
            {% if user.is_colaborador %}
            <a href="{% url 'articulos:update_article' article.id %}" class="boton-articulo btn btn-warning ms-2">Editar</a>
            <a href="{% url 'articulos:delete_article' article.id %}" class="boton-articulo btn btn-danger ms-2">Eliminar</a>
            {% endif %}
          </div>
          {% else %}
          <!-- Mostrar enlace para usuarios no autenticados -->
          <a href="{% url 'articulos:detail_article' article.id %}" class="boton-articulo btn btn-success">Leer</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>





{% endblock %}
